<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: blue;">Hello {{ attendee.name }}!</h1>
    <h3 style="color: white;">Here is your account information: </h3>
    <p style="color: white;">Username: {{ attendee.user.username }}</p>
    <p style="color: white;">Email: {{ attendee.email }}</p>
    <p style="color:white">Password: {{ password }}</p>
    <p style="color: white;">Be sure to save this data and don't give it to someone else, and we sent you a specified qr code for you please don't share it</p>
    <p style="color: white;">Have a nice day! &#9786;</p>
</body>
</html>