<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: blue;">Hello {{ classroom.trainer.name }}!</h1>
    <h3 style="color: white;">There's a new classroom assigned for you </h3>
    <p style="color: white;">Classroom name: {{ classroom.name }}</p>
    <p style="color:white">Classroom code: {{ classroom.code }} (please share this code with your students to be able to enroll in the classroom)</p>
    <p style="color: white;">Have a nice day! &#9786;</p>
</body>
</html>